@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xf7l26');
  src:  url('fonts/icomoon.eot?xf7l26#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xf7l26') format('truetype'),
    url('fonts/icomoon.woff?xf7l26') format('woff'),
    url('fonts/icomoon.svg?xf7l26#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pacote-de-dentista:before {
  content: "\e900";
}
.icon-bracadeira:before {
  content: "\e901";
}
.icon-dente:before {
  content: "\e902";
}
.icon-phone-1:before {
  content: "\e90e";
}
.icon-cosmetic:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-map-pin:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-trim:before {
  content: "\e909";
}
.icon-whatsapp:before {
  content: "\e90a";
}
.icon-woman-hair:before {
  content: "\e90b";
}
.icon-youtube:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
